body {
    font-family: Arial, sans-serif;
    background-color: #350b5f;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #50128f;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 5px 10px 15px rgba(255, 255, 255, 0.644);
    max-width: 400px;
    width: 90%;
    
}

h2 {
    color: #ffffff;
    margin-bottom: 20px;
}

button {
    background-color: #8e43b3;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #9e9e9e;
}
