:root {
  --roxo: #50128f;
  --branco: #fff;
  --roxo2: #8e43b3;
  --azul: #0a0928;
  --preto: #000000;
  --cinza: #616161;
  --cinza2: #9e9e9e;
  --verde: #0dc50d;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-decoration: none;
}

/*Preload*/
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  animation: spinz 1.35s linear infinite;
  width: 100%;
  height: 100%;
  background-color: #f6fbfd;
  z-index: 999999;
}

.loader {
  border: 16px solid #efeee8;
  border-top: 16px solid #0032a0;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1.35s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -60px;
  margin-left: -60px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }

  50% {
    transform: rotate(360deg);
    opacity: 1;
  }

  75% {
    opacity: 1;
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(0deg);
    opacity: 0;
  }
}

@keyframes spinz {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* aumento html temporario! */
/*html {
  height: 500vh;
}
/**/

header .container {
  max-width: 1400px;
  margin: auto;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

html {
  scroll-behavior: smooth;
  /*para a animação de rolagem ficar suave*/
}

body {
  background-color: #0a0928;
}

.logo {
  & img {
    width: 15rem;
  }
}

/*cfg todo header*/
header {
  width: 100%;
  padding: 2px 2%;
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.5s;
  z-index: 9999;

  /* Efeitos do menu*/
  &.rolar {
    background-color: var(--roxo);
    padding: -50px;

    & a {
      color: var(--branco);
      position: relative;
    }

    & i {
      color: #1d1d77;
    }

    & a:hover {
      text-decoration: none;
      color: var(--branco);
    }
  }

  /* Logo teste cfg*/
  & i {
    font-size: 40px;
    color: #fff;
  }

  & ul {
    list-style-type: none;
    list-style: none;
  }

  & ul li {
    display: inline-block;
    margin: 0 20px;
    transition: 0.3s;
  }

  & ul li a {
    color: #fff;
    font-size: 1.2em;
  }

  & li:hover {
    transform: scale(1.3);
    transition: 0.3s;
  }

  & a:hover {
    text-decoration: none;
    color: var(--roxo2);
  }
}

/*Imagem de fundo*/
.banner {
  height: 100vh;
  background-image: url(img/banner.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  filter: brightness(0.8);
}

.box-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 25%;
  z-index: 99;
  margin-left: 8rem;

  & h3 {
    
    font-family: "IBM Plex Mono", monospace;
    font-weight: bold;
    font-style: normal;
    color: rgb(255, 255, 255);

    /* sombras para criar o efeito de brilho */
    font-size: 1.5em;
    padding-left: 30px;
  }

  /*cfg botão contato*/
  & .btn-contato button {
    margin-top: 25px;
    width: 100px;
    height: 30px;
    border: 0;
    border-radius: 10px;
    background-color: var(--roxo2);
    color: var(--branco);
    cursor: pointer;
    transition: 0.2s;
    margin-right: 25px;
  }

  .btn-contato:hover {
    scale: 1.1;
  }

  .btn-contato button:hover{
    background-color: var(--cinza2);
  }
}

.banner::before,
.banner::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 50%;
  height: 8px;
  background: linear-gradient(to right, transparent, #50128f, transparent);
  animation: neon 1.5s infinite alternate;
}

.banner::before {
  left: 0;
}

.banner::after {
  right: 0;
}

@keyframes neon {
  from {
    box-shadow: 0 0 10px #50128f, 0 0 20px #50128f, 0 0 30px #50128f,
      0 0 40px #50128f, 0 0 70px #50128f, 0 0 80px #8e43b3, 0 0 100px #8e43b3,
      0 0 150px #8e43b3;
  }

  to {
    box-shadow: none;
  }
}


/* servicos */
.servicos {
  & h1 {
    text-align: center;
    margin-top: 30px;
    color: #ffffff;
    text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #ffffff,
      0 0 40px var(--roxo2), 0 0 70px var(--roxo2), 0 0 80px var(--roxo2),
      0 0 100px var(--roxo2), 0 0 150px var(--roxo2);
  }

}

.cards.flex4 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 30px;
}

.card {
  width: 400px;
  aspect-ratio: 1 / 0.7;
  border-radius: 8px;
  position: relative;
}

.card .image-box {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.card .image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 90%;
  border-radius: inherit;
  transition: 0.5s ease-in-out;
}

.card::after {
  content: "";
  position: absolute;
  inset: 0;
  border: 2px solid var(--roxo2);
  border-radius: inherit;
  opacity: 0;
  transition: 0.4s ease-in-out;
}

.card:hover img {
  filter: grayscale(1) brightness(0.4);
}

.card:hover::after {
  opacity: 1;
  inset: 20px;
}

.content {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.content h2,
.content p {
  opacity: 0;
  transition: 0.4s 0.2s ease;
}

.content h2 {
  margin-bottom: 12px;
  scale: 0.7;
  color: var(--branco);
}

.content p {
  font-size: 14px;
  line-height: 1.5;
  color: #d1d1d1;
  transform: translateY(50%);
}

#reparar img {
  height: 100%;
}

.card:hover .content h2 {
  scale: 1;
  opacity: 1;
}

.card:hover .content P {
  opacity: 1;
  transform: translateY(0);
}


/*SOBRE*/
.sobre{
  margin-top: 10rem;
}
.sobre h1{
  margin-bottom: 2rem;
  text-align: center;
  margin-top: 0;
  color: #ffffff;
  text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #ffffff,
    0 0 40px var(--roxo2), 0 0 70px var(--roxo2), 0 0 80px var(--roxo2),
    0 0 100px var(--roxo2), 0 0 150px var(--roxo2);
  font-size: 3rem;
}
.sobre-box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  background: linear-gradient(to bottom, #0a0928 1%,#0a0928 1%);
  margin-top: 50px;
}

.sobre-box .sobre-image {
  position: absolute;

  img{
    width: 50rem;
    height: 30rem;
    margin-right: 45rem;
  }
}

.sobre-box .sobre-body {
  width: 600px;
  margin-left: 30rem;
  z-index: 10;
}

.sobre-box .sobre-body {
  font-size: 18px;
}

.sobre-body p {
  line-height: 30px;
  color: var(--branco);
  text-align: justify;
}

.sobre-body a {
  margin-top: 10px;
  display: inline-block;
  margin-top: 20px;
  padding: 10px 10px;
  background-color: var(--roxo2);
  font-size: 15px;
  color: var(--branco);
  transition: all .4s ease-in-out;
  border-radius: 5px;
  text-decoration: none;
}

.sobre-body a:hover {
  background-color: var(--verde);
}


/* desenvolvedores */
.desenvolvedores:has(.box[data-color="clr1"]:hover) {
  background: linear-gradient(to bottom, #0a0928 1%, #cb58f8);
}

.desenvolvedores:has(.box[data-color="clr2"]:hover) {
  background: linear-gradient(to bottom, #0a0928 1%, #7f00b2);
}

.desenvolvedores:has(.box[data-color="clr3"]:hover) {
  background: linear-gradient(to bottom, #0a0928 1%, #bc4ed8);
}

.desenvolvedores:has(.box[data-color="clr4"]:hover) {
  background: linear-gradient(to bottom, #0a0928 1%, #610391);
}

.desenvolvedores {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to bottom, #0a0928 1%, #8e43b3);
  min-height: 70vh;
  margin-top: 50px;
  transition: 0.5s;
  justify-content: center;

  & .titulo {
    text-align: center;
    margin-top: 0;
    color: #ffffff;
    text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #ffffff,
      0 0 40px var(--roxo2), 0 0 70px var(--roxo2), 0 0 80px var(--roxo2),
      0 0 100px var(--roxo2), 0 0 150px var(--roxo2);
    font-size: 3rem;
  }

  & .container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
  }

  & .container .box {
    margin-top: 40px;
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    align-items: center;
    border-radius: 10px;
    transition: 0.5s;
  }

  & .container .box .imgBx {
    position: absolute;
    inset: 0;
    border-radius: 12px;
    border: 4px solid rgba(0, 0, 0, 0.2);
  }

  & .container .box .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    border-radius: 10px;
  }

  & .container .box :hover .imgBx img {
    opacity: 0.5;
  }

  & .container .box .glass {
    position: absolute;
    inset: 0;
    background: linear-gradient(#fff2, transparent);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    scale: 0;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.5s;
  }

  & .container .box .glass::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background: rgba(255, 255, 255, 0.05);
  }

  & .container .box:hover {
    transform: rotate(-15deg);
  }

  & .container .box:hover .glass {
    scale: 1;
    opacity: 1;
    transform: rotate(20deg);
  }

  & .container .box .glass h3 {
    font-size: 1.25em;
    color: var(--branco);
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 0.8em;
  }

  & .container .box ul {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15px;
  }

  & .container .box ul a {
    margin-bottom: -10px;
    color: var(--branco);
    font-size: 1.25em;
    scale: 0;
    transition: 0.25s;
    transition-delay: scale calc(0.2s * var(--i));
  }

  & .container .box:hover ul a {
    scale: 1;
  }

  & .container .box ul a:hover {
    color: var(--branco);
  }


}



/* footer / rodapé */

footer {
  margin-top: 30px;
  position: relative;
  width: 100%;
  background: #7f00b2;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer .menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

footer .social_icon li,
footer .menu li {
  list-style: none;
}

footer .menu li a {
  font-size: 1.5em;
  color: #ffffff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
}

footer .menu li a:hover {
  opacity: 1;
}

footer p {
  color: #ffffff;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 1em;
}

footer .wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(wave.png);
  background-size: 1000px 100px;
}

footer .wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWave 4s linear infinite;
}

footer .wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animateWave_02 4s linear infinite;
}

footer .wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWave 3s linear infinite;
}

footer .wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animateWave_02 3s linear infinite;
}

@keyframes animateWave {
  0% {
    background-position-x: 1000px;
  }

  100% {
    background-position-x: 0px;
  }
}

@keyframes animateWave_02 {
  0% {
    background-position-x: 0px;
  }

  100% {
    background-position-x: 1000px;
  }
}


ul.social_icon {
  display: flex;
  list-style: none;
  gap: 2.5rem;
}

.item a {
  text-decoration: none;
  width: 4.8rem;
  height: 4.8rem;
  background-color: #f0f9fe;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  border: 3px solid #f0f9fe;
  overflow: hidden;
}

.item a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  z-index: 0;
  scale: 1 0;
  transform-origin: bottom;
  transition: scale 0.5s ease;
}

.item:hover a::before {
  scale: 1 1;
}

.icon {
  font-size: 2rem;
  color: hsl(203, 92%, 8%);
  transition: 0.5s ease;
  z-index: 2;
}

.item a:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
}

.item:nth-child(1) {
  --bg-color: linear-gradient(to bottom right, #f9ce34, #ee2a7b, #6228d7);
}

.item:nth-child(2) {
  --bg-color: #10047a;
}

.item:nth-child(3) {
  --bg-color: #383838;
}

/*Fim footer*/


/*Menu hamburguer*/

.mobile-menu-icon {
  display: none;
}

.mobile-menu {
  display: none;
}

@media screen and (max-width: 730px) {
  .rolar {
    display: none;
  }

  .flex {
    display: none;
  }

  .nav-bar {
    padding: 1.5rem 4rem;
  }

  .btn-contato {
    display: none;
  }

  .mobile-menu-icon {
    display: block;
    position: absolute;
    right: 2rem;

    & button {
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
  }

  .mobile-menu ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 1rem;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
  }

  .mobile-menu .nav-item {
    display: block;
    padding-top: 1.2rem;
  }

  .mobile-menu .btn-contato {
    display: block;
    padding: 1rem 2rem;
    color: #fff;
  }

  .mobile-menu .btn-contato button {
    width: 100%;
  }

  .open {
    display: block;
  }

  .banner .box-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 33.33%;
    height: 100%;
    background-color: #00000000;
    z-index: 99;

    & h1 {
      text-align: center;
      margin-top: 300%;
      font-family: "IBM Plex Mono", monospace;
      font-weight: 400;
      font-style: normal;
      color: #ffffff;
      text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #ffffff,
        0 0 40px #00f, 0 0 70px #00f, 0 0 80px #00f, 0 0 100px #00f,
        0 0 150px #00f;
      /* sombras para criar o efeito de brilho */
      font-size: 4em;
      padding-left: 30px;
    }

    & p {
      display: none;
    }
  }
}