:root {
  --roxo: #50128f;
  --branco: #fff;
  --roxo2: #8e43b3;
  --azul: #0a0928;
  --preto: #000000;
  --cinza: #616161;
  --cinza2: #9e9e9e;
  --verde: #0dc50d;
  --verde2: #0b6d0b;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-decoration: none;
}

/*Preload*/
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  animation: spinz 1.35s linear infinite;
  width: 100%;
  height: 100%;
  background-color: #f6fbfd;
  z-index: 999999;
}

.loader {
  border: 16px solid #efeee8;
  border-top: 16px solid #0dc50d;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1.35s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -60px;
  margin-left: -60px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }

  50% {
    transform: rotate(360deg);
    opacity: 1;
  }

  75% {
    opacity: 1;
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(0deg);
    opacity: 0;
  }
}

@keyframes spinz {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}



header .container {
  max-width: 1400px;
  margin: auto;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

html {
  scroll-behavior: smooth;
  /*para a animação de rolagem ficar suave*/
}

body {

  background: linear-gradient(to bottom, #006310 1%, #006310);
}

.logo {
  & img {
    width: 15rem;
  }
}

/*cfg todo header*/
header {
  width: 100%;
  padding: 2px 2%;
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.5s;
  z-index: 9999;

  /* Efeitos do menu*/
  &.rolar {
    background-color: var(--verde2);
    padding: -50px;

    & a {
      color: var(--branco);
      position: relative;
    }

    & i {
      color: #1d1d77;
    }

    & a:hover {
      text-decoration: none;
      color: var(--branco);
    }
  }

  /* Logo teste cfg*/
  & i {
    font-size: 40px;
    color: #fff;
  }

  & ul {
    list-style-type: none;
    list-style: none;
  }

  & ul li {
    display: inline-block;
    margin: 0 20px;
    transition: 0.3s;
  }

  & ul li a {
    color: #fff;
    font-size: 1.2em;
  }

  & li:hover {
    transform: scale(1.3);
    transition: 0.3s;
  }

  & a:hover {
    text-decoration: none;
    color: var(--verde);
  }
}


/*Imagem de fundo*/
.box-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 25%;
  z-index: 99;
  margin-left: 8rem;

  & h3 {

    font-family: "IBM Plex Mono", monospace;
    font-weight: bold;
    font-style: normal;
    color: rgb(255, 255, 255);

    /* sombras para criar o efeito de brilho */
    font-size: 1.5em;
    padding-left: 30px;
  }

  /*cfg botão contato*/
  & .btn-contato button {
    margin-top: 25px;
    width: 100px;
    height: 30px;
    border: 0;
    border-radius: 10px;
    background-color: var(--verde2);
    color: var(--branco);
    cursor: pointer;
    transition: 0.2s;
    margin-right: 25px;
  }

  .btn-contato:hover {
    scale: 1.1;
  }

  .btn-contato button:hover {
    background-color: var(--branco);
    color: var(--verde);
  }
}

.banner::before,
.banner::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 50%;
  height: 8px;
  background: linear-gradient(to right, transparent, #128f12, transparent);
  animation: neon 1.5s infinite alternate;
}

.banner::before {
  left: 0;
}

.banner::after {
  right: 0;
}

@keyframes neon {
  from {
    box-shadow: 0 0 10px #128f12, 0 0 20px #128f12, 0 0 30px #128f12,
      0 0 40px #128f12, 0 0 70px #128f12, 0 0 80px #0b680b, 0 0 100px #0b680b,
      0 0 150px #0b680b;
  }

  to {
    box-shadow: none;
  }
}


/*SOBRE*/
.sobre {
  margin-top: 10rem;
}

.sobre h1 {
  text-align: center;
  margin-top: 0;
  color: #ffffff;
  text-shadow: 0 0 10px var(--verde2), 0 0 20px var(--verde2), 0 0 30px var(--verde2),
    0 0 40px var(--verde), 0 0 60px var(--verde), 0 0 60px var(--verde),
    0 0 100px var(--verde), 0 0 150px var(--verde);
  font-size: 2rem;
  margin-bottom: 3rem;
}

.sobre-box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  background: linear-gradient(to bottom, #006310 1%, #006310);
  margin-top: 50px;
}

.sobre-box .sobre-image {
  margin-right: 50px;

  img {
    border-radius: 15px;
  }

}

.sobre-box .sobre-body {
  width: 600px;
}

.sobre-box .sobre-body {
  font-size: 18px;
}

.sobre-body p {
  line-height: 30px;
  color: var(--branco);
  font-size: 18px;
  text-align: justify;
}




/* servicos */
.servicos {
  background: linear-gradient(to bottom, #006310 1%, #71ff9c);
  padding: 40px;

  & h1 {
    text-align: center;
    margin-top: 50px;
    color: #ffffff;
    text-shadow: 0 0 10px var(--verde2), 0 0 20px var(--verde2), 0 0 30px var(--verde2),
      0 0 40px var(--verde), 0 0 60px var(--verde), 0 0 60px var(--verde),
      0 0 100px var(--verde), 0 0 150px var(--verde);
  }
}

.cards.flex4 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 30px;
}

.card {
  width: 300px;
  aspect-ratio: 1 / 1;
  border-radius: 8px;
  position: relative;
  cursor: pointer;
}

.card .image-box {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.card .image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 90%;
  border-radius: inherit;
  transition: 0.5s ease-in-out;
}

.card::after {
  content: "";
  position: absolute;
  inset: 0;
  border: 2px solid var(--verde2);
  border-radius: inherit;
  opacity: 0;
  transition: 0.4s ease-in-out;
}

.card:hover img {
  filter: grayscale(1) brightness(0.4);
}

.card:hover::after {
  opacity: 1;
  inset: 20px;
}

.content {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.content h2,
.content p {
  opacity: 0;
  transition: 0.4s 0.2s ease;
}

.content h2 {
  margin-bottom: 12px;
  scale: 0.7;
  color: var(--branco);
}

.content p {
  font-size: 16px;
  line-height: 1.5;
  color: #d1d1d1;
  transform: translateY(50%);
}

#reparar img {
  height: 100%;
}

.card:hover .content h2 {
  scale: 1;
  opacity: 1;
}

.card:hover .content P {
  opacity: 1;
  transform: translateY(0);
}


/*SOBRE2*/
/*.sobre2 {}*/

.sobre2 h1 {
  text-align: center;
  margin-top: 0;
  color: #ffffff;
  text-shadow: 0 0 10px var(--verde2), 0 0 20px var(--verde2), 0 0 30px var(--verde2),
    0 0 40px var(--verde), 0 0 60px var(--verde), 0 0 60px var(--verde),
    0 0 100px var(--verde), 0 0 150px var(--verde);
  font-size: 2rem;
  margin-bottom: 3rem;
}

.sobre-box2 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  background: linear-gradient(to bottom, #71ff9c 1%, #006310);

}

.sobre-box2 .sobre-image {
  

  img {
    border-radius: 15px;
    width: 30rem;
    height: 30rem;
    margin-right: 15rem;
  }
}

.sobre-box2 .sobre-body2 {
  width: 600px;

}

.sobre-box2 .sobre-body2 {
  font-size: 20px;
}

.sobre-body2 p {
  line-height: 30px;
  color: var(--branco);
  font-size: 18px;
  text-align: justify;
}



/* footer / rodapé */
footer {
  margin-top: 8rem;
  position: relative;
  width: 100%;
  background: var(--verde2);
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer .menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

footer .social_icon li,
footer .menu li {
  list-style: none;
}

footer .menu li a {
  font-size: 1.5em;
  color: #ffffff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
}

footer .menu li a:hover {
  opacity: 1;
}

footer p {
  color: #ffffff;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 1em;
}

footer .wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(waveGreen.png);
  background-size: 1000px 100px;
}

footer .wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWave 4s linear infinite;
}

footer .wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animateWave_02 4s linear infinite;
}

footer .wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWave 3s linear infinite;
}

footer .wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animateWave_02 3s linear infinite;
}

@keyframes animateWave {
  0% {
    background-position-x: 1000px;
  }

  100% {
    background-position-x: 0px;
  }
}

@keyframes animateWave_02 {
  0% {
    background-position-x: 0px;
  }

  100% {
    background-position-x: 1000px;
  }
}


ul.social_icon {
  display: flex;
  list-style: none;
  gap: 2.5rem;
}

.item a {
  text-decoration: none;
  width: 4.8rem;
  height: 4.8rem;
  background-color: #f0f9fe;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  border: 3px solid #f0f9fe;
  overflow: hidden;
}

.item a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  z-index: 0;
  scale: 1 0;
  transform-origin: bottom;
  transition: scale 0.5s ease;
}

.item:hover a::before {
  scale: 1 1;
}

.icon {
  font-size: 2rem;
  color: hsl(203, 92%, 8%);
  transition: 0.5s ease;
  z-index: 2;
}

.item a:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
}

.item:nth-child(1) {
  --bg-color: linear-gradient(to bottom right, #f9ce34, #ee2a7b, #6228d7);
}

.item:nth-child(2) {
  --bg-color: #10047a;
}

.item:nth-child(3) {
  --bg-color: #383838;
}

/*Fim footer*/


/*Menu hamburguer*/
.mobile-menu-icon {
  display: none;
}

.mobile-menu {
  display: none;
}

@media screen and (max-width: 730px) {
  .rolar {
    display: none;
  }

  .flex {
    display: none;
  }

  .nav-bar {
    padding: 1.5rem 4rem;
  }

  .btn-contato {
    display: none;
  }

  .mobile-menu-icon {
    display: block;
    position: absolute;
    right: 2rem;

    & button {
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
  }

  .mobile-menu ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 1rem;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
  }

  .mobile-menu .nav-item {
    display: block;
    padding-top: 1.2rem;
  }

  .mobile-menu .btn-contato {
    display: block;
    padding: 1rem 2rem;
    color: #fff;
  }

  .mobile-menu .btn-contato button {
    width: 100%;
  }

  .open {
    display: block;
  }

  .banner .box-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 33.33%;
    height: 100%;
    background-color: #00000000;
    z-index: 99;

    & h1 {
      text-align: center;
      margin-top: 300%;
      font-family: "IBM Plex Mono", monospace;
      font-weight: 400;
      font-style: normal;
      color: #ffffff;
      text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #ffffff,
        0 0 40px #00f, 0 0 70px #00f, 0 0 80px #00f, 0 0 100px #00f,
        0 0 150px #00f;
      /* sombras para criar o efeito de brilho */
      font-size: 4em;
      padding-left: 30px;
    }

    & p {
      display: none;
    }
  }
}